@charset "UTF-8";
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
input:focus {
  outline-color: transparent;
  outline-style: none;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.button {
  text-align: center;
}

.center-center, #login-page form, #order-with-photo .popup-alert > div, .timer-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

body {
  font-size: 10px;
  background: #fff;
  font-family: Roboto-Light;
  font-size: 18px;
  color: #414141;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

section {
  position: relative;
  height: 100vh;
}

#login-button {
  line-height: 46px;
  text-align: center;
  line-height: 47px;
}

#login-page {
  background-color: blue;
}

#login-page form {
  background: rgba(255, 255, 255, 0.96);
  width: 300px;
  height: 400px;
}

#login-page form h1, #login-page form input, #login-page form .button {
  display: block;
}

#login-page form h1 {
  font-size: 1.8rem;
  margin-left: 2.6rem;
  margin-top: 41px;
  color: rgba(65, 65, 65, 0.81);
}

#login-page form .button, #login-page form input {
  width: 220px;
  height: 46px;
  margin: 0 auto;
}

#login-page form input {
  font-family: Roboto-Light;
  margin: 46px auto;
  box-sizing: border-box;
  border: solid 2px #414141;
  background-color: #fff;
  padding: 0 25px;
}

#login-page form .button {
  background: #414141;
  color: #F7F7F7;
  border: none;
}

.hideafter:after {
  display: none !important;
}

#main-page header {
  height: 140px;
  background: #fff;
}

#main-page header > h2 {
  font-size: 2rem;
  position: absolute;
  top: 30px;
  left: 20px;
}

#main-page nav {
  width: 100vw;
  height: 140px;
  padding: 10px 0;
  font-size: 0;
  background: #F2F2F2;
}

#main-page nav > div {
  font-size: 1rem;
  width: 33.333333333%;
  height: 120px;
  display: inline-block;
}

#main-page nav > div {
  position: relative;
  font-family: Roboto-Light;
  font-size: 1.4rem;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#main-page nav > div:after {
  position: absolute;
  width: 28px;
  height: 28px;
  display: block;
  content: ' ';
  bottom: -28px;
  left: 40px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid;
}

#main-page nav #home {
  background-color: rgba(147, 142, 101, 0.15);
  color: #948E65;
}

#main-page nav #home:active {
  background-color: rgba(147, 142, 101, 0.3);
}

#main-page nav #home:active:after {
  border-top-color: rgba(147, 142, 101, 0.3);
}

#main-page nav #home {
  background-image: url(img/home.svg);
}

#main-page nav #home:after {
  border-top-color: rgba(147, 142, 101, 0.15);
}

#main-page nav #home:after:after {
  border-top-color: rgba(147, 142, 101, 0.15);
}

#main-page nav #health {
  background: rgba(148, 108, 101, 0.15);
  color: #946C65;
}

#main-page nav #health:active {
  background-color: rgba(148, 108, 101, 0.3);
}

#main-page nav #health:active:after {
  border-top-color: rgba(148, 108, 101, 0.3);
}

#main-page nav #health {
  background-image: url(img/health.svg);
}

#main-page nav #health:after {
  border-top-color: rgba(148, 108, 101, 0.15);
}

#main-page nav #car {
  background: rgba(120, 150, 169, 0.15);
  color: #7896A9;
}

#main-page nav #car:active {
  background-color: rgba(120, 150, 169, 0.3);
}

#main-page nav #car:active:after {
  border-top-color: rgba(120, 150, 169, 0.3);
}

#main-page nav #car {
  background-image: url(img/car.svg);
}

#main-page nav #car:after {
  border-top-color: rgba(120, 150, 169, 0.15);
}

#main-page #main-menu {
  background-color: #fff;
  overflow-y: scroll;
  padding-top: 20px;
}

#main-page #main-menu > div {
  height: auto;
}

#house-menu > div:before, #house-menu > div:after, #health-menu > div:before, #health-menu > div:after, #car-menu > div:before, #car-menu > div:after {
  display: block;
  content: ' ';
  width: 60px;
  height: 60px;
  position: absolute;
  left: -60px;
  background-position: center;
  background-repeat: no-repeat;
}

#car-menu > div, #health-menu > div, #house-menu > div {
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  float: right;
  width: 300px;
  font-size: 1.4rem;
  line-height: 60px;
  vertical-align: middle;
  height: 60px;
  z-index: 10;
}

#car-menu > div:active, #health-menu > div:active, #house-menu > div:active {
  background-color: rgba(151, 151, 151, 0.1);
}

#car-menu > div:active:before, #health-menu > div:active:before, #house-menu > div:active:before {
  background-color: rgba(151, 151, 151, 0.1);
}

#car-menu > div:not(:last-child), #health-menu > div:not(:last-child), #house-menu > div:not(:last-child) {
  border-bottom: 1px solid rgba(151, 151, 151, 0.28);
}

#car-menu > div:after, #health-menu > div:after, #house-menu > div:after {
  position: absolute;
  top: 0px;
  margin-left: 300px;
  z-index: 20;
  background-image: url(img/arrow-gray.svg);
}

.plumber:before {
  background-image: url(img/tap.svg);
}

.electrician:before {
  background-image: url(img/power-socket.svg);
}

.hood:before {
  background-image: url(img/hood.svg);
}

.hotel1:before {
  background-image: url(img/hotel1.svg);
}

.doctor:before {
  background-image: url(img/doctor.svg);
}

.ambulance:before {
  background-image: url(img/ambulance.svg);
}

.dog:before {
  background-image: url(img/dog.svg);
}

.hotel2:before {
  background-image: url(img/hotel2.svg);
}

.fuel:before {
  background-image: url(img/fuel.svg);
}

.tow:before {
  background-image: url(img/tow.svg);
}

.repair:before {
  background-image: url(img/repair.svg);
}

.specific-title {
  line-height: 72px;
  margin-left: 20px;
  color: #fff;
}

#order-with-photo .popup-alert {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 20;
}

#order-with-photo .popup-alert > div {
  width: 280px;
  height: 264px;
  box-sizing: border-box;
  padding: 20px;
  background: #FAFAFA;
  box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.22), 0px 19px 38px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 24px;
}

#order-with-photo .popup-alert > div span {
  margin-top: 30px;
  /* ZGŁOŚ: */
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #4A90E2;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: inline-block;
}

#order-with-photo .popup-alert > div span:nth-of-type(1) {
  margin-left: 100px;
  margin-right: 20px;
}

#order-with-photo .popup-alert > div h3 {
  font-family: Roboto-Medium;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

#order-with-photo .popup-alert > div p {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.8);
}

#order-with-photo header {
  position: relative;
  background: #948E65;
  height: 72px;
}

#order-with-photo header img {
  line-height: 72px;
  float: right;
  margin-top: 28px;
  margin-right: 25px;
}

#order-with-photo .date-picker {
  height: 72px;
}

#order-with-photo .date-picker span {
  line-height: 72px;
}

#order-with-photo .date-picker span:nth-of-type(2) {
  float: right;
  margin-right: 20px;
}

#order-with-photo .date-picker span:nth-of-type(1) {
  margin-left: 20px;
}

#order-with-photo .date-picker span:nth-of-type(3) {
  float: right;
  margin-right: 20px;
}

#order-with-photo #take-photo {
  overflow: hidden;
  position: relative;
  background-color: #F2F2F2;
  height: 140px;
  background-image: url(img/photo.svg);
  background-position: center 40%;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

#order-with-photo #take-photo img {
  display: block;
  margin: 0 auto;
}

#order-with-photo #take-photo span {
  position: absolute;
  bottom: 25px;
  left: 120px;
  color: #948E65;
}

#order-with-photo #take-photo:active {
  background-color: rgba(151, 151, 151, 0.19);
}

#order-with-photo form > input, #order-with-photo form > .button {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border: none;
}

#order-with-photo form input {
  width: 90%;
  height: 42px;
  margin-bottom: 22px;
  border-bottom: solid 2px #948E65;
  padding: 5px 2px;
}

#order-with-photo .button {
  width: 85%;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
}

#order-with-photo .button:nth-of-type(1) {
  position: relative;
  margin-bottom: 40px;
  background: none;
  color: #7896A9;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 10px;
}

#order-with-photo .button:nth-of-type(1):before {
  position: absolute;
  left: 35px;
  bottom: 5px;
  background-position: center;
  background-repeat: no-repeat;
  content: ' ';
  height: 40px;
  width: 40px;
  background-image: url(img/gps.svg);
}

#order-with-photo .button:nth-of-type(2) {
  background-color: #948E65;
  color: #fff;
}

.go-down {
  margin-top: 30px !important;
}

.popup-alert.extra-cash #extra-payment {
  font-family: Roboto-Regular;
  font-size: 36px;
  color: #000000;
  line-height: 42px;
}

.popup-alert.extra-cash #extra-payment span {
  margin-top: 20px !important;
}

.timer-icon {
  background-image: url(img/timer.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
}

.timer-icon > div {
  position: absolute;
  bottom: -20px;
  left: 23px;
  font-family: Roboto-Medium;
}

#order-confirmation header {
  position: relative;
  background: #948E65;
  height: 72px;
}

#order-confirmation header img {
  line-height: 72px;
  float: right;
  margin-top: 28px;
  margin-right: 25px;
}

#order-confirmation > p {
  width: 76%;
  margin: 0 auto;
  margin-top: 70px;
}

#order-confirmation form > input, #order-confirmation form > .button {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border: none;
}

#order-confirmation form input {
  width: 90%;
  height: 42px;
  margin-bottom: 22px;
  border-bottom: solid 2px #948E65;
  padding: 5px 2px;
}

#order-confirmation .button {
  width: 85%;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
}

#order-confirmation .button:nth-of-type(1) {
  background-color: #948E65;
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
